<div id="cart" class="btn-group btn-block cart_openp">
<b id="frame2" class="cartphotos"> {{ deluxe_cart_img }} </b>
<!-- <span><span id="cart-total">{{ text_items }}</span>&nbsp;<span class="caret"></span></span> -->
 <div class="hidden-xs">
     {{ text_cart_head }}
  </div>
</div>
<script>
$(".cart_openp").click(function(){$.magnificPopup.open({removalDelay:500,fixedContentPos:!0,items:{src:"index.php?route=common/aridius_cart/info"},type:"ajax",mainClass:"mfp-fade"})});
</script>