<div id="search" class="input-group">
<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="inp_sear form-control input-lg" />
<span class="seartch_rt">
<button type="button" class="btn btn-ser btn_sear"><i class="fa fa-search"></i> </button>
</span>
<button class="sub_sear" type="submit"></button>
</div>




