<div class="instock">
   <div class="instockf">
      <div class="name-popup">{{ heading_title }}</div>
   </div>
   <div class="aridiusinstock-success">
      <div class="instock2">
         <div class="row">
            <div class="col-xs-12">
               {{ aridiusundersell_description2 }} 
            </div>
         </div>
      </div>
   </div>
</div>