<div class="callback">
   <div class="callbackfff">
      <div class="name-popup">{{ heading_title }}</div>
   </div>
   <div class="aridiuscallback-success">
      <div class="callback2">
         <div class="row">
            <div class="col-xs-12">	
               {{ aridiuscallback_description2 }}	
            </div>
         </div>
      </div>
   </div>
</div>