

<div class="row menu-categories swipe_col2 flex_height_row row">

 {% for category in categories %}

<a class="product-layout hghgf" href="{{ category['href'] }}">{{ category['name'] }}</a>

   {% endfor %}

</div>





