
<div class="title-module visible_colleft">{{ aridius_letters_title[language_id] }}</div>
<form action="#" method="post">
	<div class="mailletters input-group">
	  <input type="email" name="mail_letters2" value="" placeholder="{{ aridius_letters_placeholder[language_id] }}" class="mail_letters2 form-control input-lg" />
	  <span class="input-group-btn">
	  <button type="submit" class="btn btn-send btn-lg" onclick="return subscribe();" >{{ aridius_letters_pl[language_id] }}</button>
	  </span>
	</div>
</form>
	  <div class="message_email"></div>	
      <div class="message_compare"></div>	
	  <div class="message_success"></div>	



