{% if (theme_deluxe_callleft != 1) %} 
<a class ="call-order">
	<div class="close_phswipe container-circle">
      <div class="content">
         <div class="circle"></div>
         <div class="circleout"><i class="fa fa-phone"></i></div>
      </div>
   </div>
</a>
{% endif %}